---
layout: default
---

<h1>{% if page.custom_title %}{{ page.custom_title }}{% else %}{{ site.title }} Changelog{% endif %}</h1>

<ol>
  {% for post in site.posts %}
  <li>
    <h2>
      {{ post.title }} ({{ post.version }})
      <time>{{ post.date | date: "%b %-d, %Y" }}</time>
      <small>
        <a href="{{ site.baseurl}}{{ post.url }}">Permalink</a>
      </small>
    </h2>
    {% if post.platforms %}
    <h4>
      Available for:
      {% for platform in post.platforms -%}
      {{ site.data.platforms[platform.os].name }}
      {%- unless forloop.last -%}, {% endunless -%}
      {%- endfor -%}
    </h4>
    {% endif %}
    <p>
      {{ post.content | newline_to_br }}
    </p>
  </li>
  {% endfor %}
</ol>